#login_frame {
    width: 400px;
    height: 260px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 40px;
    text-align: center;
}
h1{
    color:  burlywood;
    margin:30px;
    font-family: "Palace Script MT";
    font-size: 60px;
    text-align: center;

}
form p > * {
    display: inline-block;
    vertical-align: middle;
}

#image_logo {
    margin-top: 22px;

}
#image_logo img{
    width: 40px;
    height: 40px;
}

.label_input {
    font-size: 14px;
    font-family: "Times New Roman";

    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: burlywood;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#btn_login, #manager_login{
    font-size: 14px;
    font-family: "Times New Roman";

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: burlywood;
    border-radius: 6px;
    border: 0;
    float: left;
}
#btn_login:hover{
    background-color: sandybrown;
}
#manager_login:hover{
    background-color: sandybrown;
}

#forget_pwd {
    font-size: 12px;
    color: coral;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;

}

#forget_pwd:hover {
    color: indianred;

}

#login_control {
    padding: 0 28px;
}

#register {
    font-size: 12px;
    color: orangered;
    text-decoration: none;
    position: relative;
    right: 20px;
    float: right;
    top: 5px;
}
#register:hover {
    color: indianred;

}
#manager_login{
    position: absolute;
    top: 250px;
    right: 55px;
    float: right;
}
