<!DOCTYPE HTML>
<html>
<head>
    <title>Check Out</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/checkout.css')}} />
    <link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
    <link rel="stylesheet" href={{url_for('static', filename='css/bodyGeneral.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/footer.css') }} />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <div id="title">
            <a href="/logout">
                <img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
            </a>
            <div class="home_btn">
                <a href="/home">
                    <strong>HOME~</strong>
                </a>
            </div>
            <div class = "Search">
                <form>
		            <input id="searchBox" type="text" name="searchQuery" placeholder="SEARCH....">
		            <button id="searchButton" type="submit" value="Search"></button>
		        </form>
            </div>

            {% if not loggedIn %}
            <div id="signInButton">
                <img id = "client " src= {{ url_for('static', filename='images/client.png')}}/>
                <a class="link" href="/loginForm">SIGN IN</a>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="dropbtn">Hello, <br>{{firstName}}</button>
                <div class="dropdown-content">
                    <a href="/account/orders">Your orders</a>
                    <a href="/account/profile">Your profile</a>
                    <hr>
                    <a href="/logout">Sign Out</a>
                </div>
            </div>
            {% endif %}
        <div id="cart">
            <a class="link" href="/cart">
                <img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
                CART {{noOfItems}}
            </a>
        </div>
    </div>

    <div id="cartItems">
        <h2>Confirm Your Order</h2>
        <div id="tableItems">
            {% for row in products %}
            <div class = "Item">
                <hr id="seperator">
                <div id="itemImage">
                    <img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
                </div>
                <div id="itemName">
                    <span id="itemNameTag">{{row[1]}}</span><br>
                    In stock<br>
                    <a href="/removeFromCart?productId={{row[0]}}">Remove</a>
                </div>
                <div id="itemPrice">
                    ${{row[2]}}
                </div>
            </div>
            {% endfor %}
            <hr id="seperator">
            <div id="total">
                <span id="subtotal">Subtotal</span> : ${{totalPrice}}
            </div>
            <div id="info">
                <br><br><span id="delivery_information">Delivery Information</span>
            </div>

            <div id="display_diliveryinfo">
                <div id="deliveryinfo">
                    <table id="descriptionTable">
                        <tr>
                            <td>First Name: </td>
                            <td>{{data[3]}}</td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>{{data[4]}}</td>
                        </tr>
                        <tr>
                            <td>Address 1: </td>
                            <td>{{data[5]}}</td>
                        </tr>
                        <tr>
                            <td>Address 2: </td>
                            <td>{{data[6]}}</td>
                        </tr>
                        <tr>
                            <td>Zipcode: </td>
                            <td>{{data[7]}}</td>
                        </tr>
                        <tr>
                            <td>Phone: </td>
                            <td>{{data[11]}}</td>
                        </tr>
                    </table>
                </div>
            </div>



        </div>



    </div>
    <a id = "checkout" href="/orderConfirmed">Place Order</a>


    <footer>
        <div class="footer_container">
            <p>@2022 INFSCI 2710 GROUP PROJECT</p>
        </div>
    </footer>
</body>
</html>
