<html>
<head>
    <title>	Manage Inventory </title>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/bodyGeneral.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/footer.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/mgrproduct.css') }} />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <div class = "container">
    <div id="title">
            <a href="/managerpage/mgrlogout">
                <img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
            </a>
            <div class="home_btn">
                <a href="/managerpage/mgrroot">
                    <strong>HOME~</strong>
                </a>
            </div>
            <div class = "Search">
                <form>
		            <input id="searchBox" type="text" name="searchQuery" placeholder="SEARCH....">
		            <button id="searchButton" type="submit" value="Search"></button>
		        </form>
            </div>


        {% if not loggedIn %}
        <div id="signInButton">
            <img id = "client " src= {{ url_for('static', filename='images/client.png')}}/>
            <a class="link" href="/managerpage/mgrloginForm">SIGN IN</a>
        </div>
        {% else %}
        <div class="dropdown">
            <button class="dropbtn">Hello, <br>{{firstName}}</button>
            <div class="dropdown-content">
                <a href="/managerpage/manageproductForm">Update Product</a>
                <a href="/managerpage/managestockForm">Manage Inventory</a>
                <a href="/managerpage/managedeleteForm">Delete Product</a>
                <a href="/managerpage/manageinfoForm">Update Information</a>
                <a href="/managerpage/statisticsForm">Data Aggregation</a>
                <hr>
                <a href="/managerpage/mgrlogout">Sign Out</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="display_frame">
    <h1>Manage Inventory</h1>
    <div id="login_frame">
        <p> {{error}} </p>
        <p id="image_logo"><img src= {{ url_for('static', filename='images/login.png') }} /></p>


        <form method="POST" action="/managerpage/managestock">

            <p><label class="label_input">Product ID</label><input type="text" id="productId" class="text_field" name="productId"></p>
            <p><label class="label_input">Inventory</label><input type="text" id="inventory" class="text_field" name="inventory"></p>

            <div id="update">
                <input type="submit" id="btn_update" value="Update" />
            </div>
            <a id="return" href="/managerpage/mgrroot">Return</a>
        </form>
    </div>
    </div>
    <footer>
        <div class="footer_container">
            <p>@2022 INFSCI 2710 GROUP PROJECT</p>
        </div>
    </footer>
    </div>

</body>
</html>

