<!DOCTYPE HTML>
<html>
<head>
    <title>Category: {{scentName}}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />#}
    <link rel="stylesheet" href={{url_for('static', filename='css/bodyGeneral.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/footer.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/displayproduct.css') }}/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <div id="title">
            <a href="/managerpage/mgrlogout">
                <img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
            </a>
            <div class="home_btn">
                <a href="/managerpage/mgrroot">
                    <strong>HOME~</strong>
                </a>
            </div>
            <div class = "Search">
                <form>
		            <input id="searchBox" type="text" name="searchQuery" placeholder="SEARCH....">
		            <button id="searchButton" type="submit" value="Search"></button>
		        </form>
            </div>

            {% if not loggedIn %}
            <div id="signInButton">
                <img id = "client " src= {{ url_for('static', filename='images/client.png')}}/>
                <a class="link" href="/managerpage/mgrloginForm">SIGN IN</a>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="dropbtn">Hello, <br>{{firstName}}</button>
                <div class="dropdown-content">
                    <a href="/managerpage/manageproductForm">Update Product</a>
                    <a href="/managerpage/managestockForm">Manage Inventory</a>
                    <a href="/managerpage/managedeleteForm">Delete Product</a>
                    <a href="/managerpage/manageinfoForm">Update Information</a>
                    <a href="/managerpage/statisticsForm">Data Aggregation</a>
                    <hr>
                    <a href="/managerpage/mgrlogout">Sign Out</a>
                </div>
            </div>
        {% endif %}
    </div>


    <div class ="display_product">
        <h2>Showing all products of Scent {{scentName}}:</h2>
        {% for itemData in data %}
        <table>
            <tr id="productName">
                {% for row in itemData %}
                <td>
                    {{row[1]}}
                </td>
                {% endfor %}
            </tr>
            <tr id="productImage">
                {% for row in itemData %}
                <td>
                    <a href="/mgrproductDescription?productId={{row[0]}}">
                        <img src={{ url_for('static', filename='uploads/' + row[3]) }} id="itemImage" />
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr id="productPrice">
                {% for row in itemData %}
                <td>
                    ${{row[2]}}
                </td>
                {% endfor %}
            </tr>
        </table>
        {% endfor %}
    </div>
    <footer>
        <div class="footer_container">
            <p>@2022 INFSCI 2710 GROUP PROJECT</p>
        </div>
    </footer>
</body>
</html>