<!DOCTYPE HTML>
<html>
<head>
    <title>Product Description</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/mgrproductDescription.css')}} />
    <link rel="stylesheet" href={{url_for('static', filename='css/bodyGeneral.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/footer.css') }} />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <div id="title">
        <a href="/managerpage/mgrlogout">
                <img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
            </a>
            <div class="home_btn">
                <a href="/managerpage/mgrroot">
                    <strong>HOME~</strong>
                </a>
            </div>
            <div class = "Search">
                <form>
		            <input id="searchBox" type="text" name="searchQuery" placeholder="SEARCH....">
		            <button id="searchButton" type="submit" value="Search"></button>
		        </form>
            </div>

            {% if not loggedIn %}
            <div id="signInButton">
                <img id = "client " src= {{ url_for('static', filename='images/client.png')}}/>
                <a class="link" href="/managerpage/mgrloginForm">SIGN IN</a>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="dropbtn">Hello, <br>{{firstName}}</button>
                <div class="dropdown-content">
                <a href="/managerpage/addItemForm">Add Product</a>
                <a href="/managerpage/managedeleteForm">Delete Product</a>
                <a href="/managerpage/managestockForm">Manage Inventory</a>
                <a href="/managerpage/statisticsForm">Data Aggregation</a>
                <hr>
                <a href="/managerpage/mgrlogout">Sign Out</a>
                </div>
            </div>
        {% endif %}
        </div>
    <div class="display_product">
        <div id="productName">
            <h1>{{data[1]}}</h1>
        </div>
        <div>
            <img src={{url_for('static', filename='uploads/'+data[4]) }} id="productImage" />
        </div>

        <div id="productDescription">
            <h2>Details</h2>
            <table id="descriptionTable">
                <tr>
                    <td>Name</td>
                    <td>{{data[1]}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>${{data[2]}}</td>
                </tr>
                <tr>
                    <td>Inventory</td>
                    <td>{{data[5]}}</td>
                </tr>
                <tr>
                    <td>Product ID</td>
                    <td>{{data[0]}}</td>
                </tr>
                <tr>
                    <td>Category ID</td>
                    <td>{{data[6]}}</td>
                </tr>
                <tr>
                    <td>Scent ID</td>
                    <td>{{data[7]}}</td>
                </tr>
            </table>
            <h2>Description</h2>
            <p>{{data[3]}}</p>
        </div>
        <div id="updateInfo">
            <a href="/updateproductInfo?productId={{request.args.get('productId')}}">Update Product</a>

        </div>
        <div id="deleteItem">
            <a href="/deleteitem?productId={{request.args.get('productId')}}" >Delete Product</a>


        </div>
    </div>
    <footer>
        <div class="footer_container">
            <p>@2022 INFSCI 2710 GROUP PROJECT</p>
        </div>
    </footer>
</body>
</html>

